
{% extends 'customer/customerblankbody.html'  %}
{% block content %}

{% for product in productlist %}
<div class="card card-default">
 
    <div class="card-header card-header-border-bottom">
       
    </div>
    <div class="card-body">
        <div class="row">
            
            <div class="col-md-6 col-xl-3">
                <div class="card mb-4">
                
                    <img class="card-img-top" src="{{product.image.url}}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{product.name}}</h5>
                        <p class="card-text pb-3">{{product.description}}</p>
                        <a href="#" class="btn btn-outline-primary">Add to cart</a>
                        <a href="#" class="btn btn-outline-primary">Buy</a>
                    </div>
                </div>
                
            </div>
            
    </div>
    {% endfor %}
</div>

{% endblock %}