{% extends 'baseblankbody.html' %}
{% block profilelink %}
<a href="/acc/userprofile/{{user.id}}">
  <i class="mdi mdi-account"></i> My Profile
</a>
{% endblock %}
{% block content %}
  <p>customer content here</p>
{% endblock %}
{% block mywishlist %}
<a href="/product/mywishlist/{{user.id}}">
    <i class="mdi mdi-account"></i> My Wishlist
  </a>
{% endblock %}
{% block mycart %}
<a href="/order/mycart/{{user.id}}">
    <i class="mdi mdi-account"></i> My Cart
  </a>
{% endblock %}
{% block myorders %}
<a href="/order/myorders/">
  <i class="mdi mdi-account"></i> My Orders
</a>
{% endblock %}