{% extends 'adminblankbody.html' %}
{% block content %}

<form method = "get" width="150 %">
    {{ salesFilter.form }}
    <button type = "submit" >Submit</button>
</form>
<table id = "myTable" width = "100%" > 
    <br>  

<br>
    <thead>
        
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>rating</th>
        <th>Percent sales</th>
        
 
        

    </thead>
    
    <tbody  id = "myTbody">
        {% for obj in productlist %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.price }}</td>
            <td>{{ obj.rating }}</td>
            <td>{{ obj.percentsale }}</td>
            
                
                
              <td> <a href="/product/productdetailforadmin/{{obj.id}}"> <button type="button" class="btn btn-primary" data-toggle="modal" onclick ="delete_data('{{ obj.id }}')" data-target="#exampleModalCenter">
                Product deatil
              </button> </a> </td>
            
            
        </tr>
        {% endfor %}
        
        
    </tbody>
    
</table>


{% endblock %}


