{% extends 'adminblankbody.html' %}
{% block content %}


<table id = "myTable" width = "100%" > 
    <br>  
<a href ="adduser" > <button class= "mb-1 btn  disabled btn-success" > Add user</button></a>
<br>
    <thead>
        
        <th>ID</th>
        <th>Email</th>
        <th>Full_name</th>
        <th>Address</th>
        <th>gender</th>
        <th>Role</th>
        <th>Update</th>
        
        

    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.full_name }}</td>
            <td>{{ obj.address }}</td>
            <td>{{ obj.gender }}</td>
            <td>{{ obj.role }}</td>

            <td> <a href="/userupdatebyadmin/{{obj.id}}" id="id_update"  >update</a> </td>
            
            
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
<!-- {% block javascript %}
<script>
    /*
    On focus out on input nickname,
    call AJAX get request to check if the nickName
    already exists or not.
    */
    $("#id_update").onClick(function (e) {
        console.log("called")
        // e.preventDefault();
        // // get the nickname
        // var nick_name = $(this).val();
        // // GET AJAX request
        // $.ajax({
        //     type: 'GET',
        //     url: "{% url 'validate_nickname' %}",
        //     data: {"nick_name": nick_name},
        //     success: function (response) {
        //         // if not valid user, alert the user
        //         if(!response["valid"]){
        //             alert("You cannot create a friend with same nick name");
        //             var nickName = $("#id_nick_name");
        //             nickName.val("")
        //             nickName.focus()
        //         }
        //     },
        //     error: function (response) {
        //         console.log(response)
        //     }
        // })
    })
</script>
{% endblock javascript %} -->
