{% extends 'adminblankbody.html' %}
{% block content %}


<table id = "myTable" width = "100%" > 
    <br>  
<a href ="/adduser" > <button class= "mb-1 btn  disabled btn-success" > Add user</button></a>
<br>
    <thead>
        
        <th>ID</th>
        <th>Email</th>
        <th>Full_name</th>
        <th>Address</th>
        <th>gender</th>
        <th>Role</th>
        <th>Update</th>
        
        

    </thead>
    
    <tbody  id = "myTbody">
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.email }}</td>
            <td>{{ obj.full_name }}</td>
            <td>{{ obj.address }}</td>
            <td>{{ obj.gender }}</td>
            <td>{{ obj.role }}</td>

            <td  >   <button class="id_update" onclick="get_data('{{ obj.id }}')" > update </button>  </td>
            <td  >   <button class="id_update" onclick="delete_data('{{ obj.id }}')" > Delete </button>  </td>
            
            
            
        </tr>
        {% endfor %}
        
        
    </tbody>
    
</table>
<div class="form-popup" id="myForm">
    <form action="#" id="myForm" class="form-container">
      <h1>Update</h1>
  
      <label for="email"><b>Email</b></label>
      <input type="email" id = "form_email" placeholder="Enter Email" name="email" required>
      <br>
      
      <input type="hidden" id ="form_id" placeholder="Enter Email" name="email" required>
      <br>
      <label for="psw"><b>Fullname</b></label>
      <input type="text"  id="form_name" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="psw"><b>address</b></label>
      <input type="text" id="form_address" placeholder="Enter Password" name="psw" required>
      <br>
      <label for="psw"><b>role</b></label>
      <input type="text"  id = form_role placeholder="Enter Password" name="psw" required>
      <br>
      <button type="button" class="btn" onclick="update()" >Update</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>
<div class="form-popup" id="mysecondForm">
    <form action="#" id="mysecondForm" class="form-container">
      <h1>Are you sure you want to delet?</h1>
  
      
      <input type="hidden" id ="second_form_id" placeholder="Enter Email" name="email" required>
      
     
      
      <button type="button" class="btn" onclick="confirm_delete()" >Yes deleet</button>
      <button type="button" class="btn cancel" onclick="closesecondForm()">No</button>
    </form>
</div>


<script>
    console.log("running")
    document.getElementById("myForm").style.display = "None";
    document.getElementById("mysecondForm").style.display = "None";
    function get_data(e){
        document.getElementById("myForm").style.display = "block";
        document.getElementById("myTbody").style.display = "None";
        //console.log(e)
        $.ajax({
            type: 'GET',
            url: `/userupdatebyadmin/${e}`,
            data: {"id": e},
            success: function (response) {
                // if not valid user, alert the user
                document.getElementById("form_name").value = response.full_name;
                document.getElementById("form_address").value = response.address;
                document.getElementById("form_role").value = response.role;
                document.getElementById("form_email").value = response.email;
                document.getElementById("form_id").value = response.id;
                
                console.log(response)
            },
            error: function (response) {
                console.log(response)
            }
        })
    }
    function closeForm(e){
        document.getElementById("myForm").style.display = "None";
        document.getElementById("myTbody").style.display = "inherit";
        //console.log(e)
        
    }
    function closesecondForm(e){
        document.getElementById("mysecondForm").style.display = "None";
        document.getElementById("myTbody").style.display = "inherit";
        //console.log(e)
        
    }
    function update(e){
        
        console.log("in update")
        formis = document.getElementById("myForm")
        console.log(e)
        updated_data = {
        'address' : document.getElementById("form_address").value ,
        'full_name': document.getElementById("form_name").value ,
        'role' : document.getElementById("form_role").value ,
        'email' : document.getElementById("form_email").value,
        'id' : document.getElementById("form_id").value,
        'data': {
            'content': 'xxx',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
    }
    $.ajax({
            type: 'POST',
            url: '/userupdatebyadmin/',
            data: {'data': JSON.stringify({'obj': updated_data}) , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (response) {
                // if not valid user, alert the user
                console.log(response)
            },
            error: function (response) {
                console.log(response)
            }
        })
 
    }  
    function delete_data(e){
        document.getElementById("mysecondForm").style.display = "block";
        document.getElementById("myTbody").style.display = "None";
        document.getElementById("second_form_id").value = e;
        
        
    }  
    function confirm_delete(){
        id = document.getElementById("second_form_id").value
        console.log(id)
        delete_data = {
            'id' : id,
            'data': {
            'content': 'xxx',
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },

        }
        $.ajax({
            type: 'POST',
            url: '/userdeletebyadmin/',
            data: {'data': JSON.stringify({'obj': delete_data}) , 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (response) {
                // if not valid user, alert the user
                console.log(response)
            },
            error: function (response) {
                console.log(response)
            }
        })

        
    }
</script>

{% endblock %}


